.songRow {
  margin-left: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  div:nth-child(1) {
    h1 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      margin-top: 3px;
      color: gray;
    }
    width: 40%;
  }
  div:nth-child(2) {
    width: 40%;
  }
  div:nth-child(3) {
    width: 20%;
  }
  div:nth-child(4) {
    width: 10%;
  }

  p {
    font-size: 15px;
    color: #f6f4f4;
  }
}

.songRow__album {
  height: 40px;
  width: 40px;
}
